.head .banner>img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.petbox {
    position:absolute;
	width:calc(20% - 5px);
	height: 500px;
	background-color: rgb(167, 161, 165);
	left:40%;
	top:25%;
	border-radius:23px;
	padding:0 50px;
	z-index:1000;
	min-width:285px;
}
.petbox .p-pic {
    position:absolute;
    height: 150px;
    width: 200px;
    background-color: rgb(230, 225, 228);
    margin-top: 40px;
    left:5%;
}
.p-pic>img {
    height: 150px;
    width: 200px;
    position: absolute;
}
.message {
    position: absolute;
    height: 150px;
    width: 180px;
    left: 250px;
    margin-top: 40px;
}
.message >p {
    line-height: 50px;
    color:rgb(252, 246, 246);
}
.boxbottom {
    position: absolute;
    height: 200px;
    width: 350px;
   bottom: 15%;
   left: 5%;
}

.blank {
    width: 350px;
    height: 150px;
    background-color: #fff;
}

.submition {
    position: absolute;
    margin-top: 420px;
    margin-left: 70px;
}

.submition a {
	display: inline-block;
	font-weight: 700;
	min-width: 100px;
	background-color: rgb(136, 131, 131);
	color: #fae4f1;
	padding: 0 30px;
	min-height: 44px;
	max-width: 100%;
	border: 2px solid #d8ced2;
	border-radius: 23px;
	text-decoration: none;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	box-shadow: 5px 10px 10px rgb(194, 190, 190);
}