
.picture {
    display: flex;
    flex-direction: row;
   
    width: 100%;
	height: auto;
 
}
.picture img{
	display: inline-block;
    text-align: center;
	width: 100%;
	height: 900px;
  
}
.chaxun {
    height: 50px;
    width: 100%;
}
.cen{
    display: flex;
   flex-flow:row wrap ;
	width: 80%;
	margin: 0 auto;
	height: auto;
    flex-direction: row column;
	
}
.adoption {
    width: auto;
    height: auto;
	padding: 0px;
    margin: 0px;
	display: flex;
    flex-wrap: wrap;
    flex-direction:row column;
    text-align: center;
	justify-content: space-between;
	margin-bottom: 200px;
    
    

}

.adoption>div>a {
    margin: auto;
}

.adoption>div>a>img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.adoption>div>a>.text-con {
	background-color: #fff;
	position: absolute;
	box-shadow: 0px 10px 50px -20px #000;
	padding: 10px;
    width: calc(90% - 50px);
	height: calc(36% - 40px);
	bottom: 5%;
    left: 9%;
}

.text-con:hover .dec{
	color:#FF9961 !important;

}
.dec {
    
    text-decoration: none;
    color: #404040;
    text-align: center;
}
.dec h3 {
    font-family: "Comic Sans MS",cursive,sans-serif!important;
    position: absolute;
    text-align: center;
}
.dec h4 {
    font-family: "Comic Sans MS",cursive,sans-serif!important;
    position: absolute;
    text-align: center;
}


.img1>div{
    flex-wrap: wrap;
    display: flex;
    position: relative;
	width: 30%;
	height: 400px;
    
}
/* .img1>div>a>.text-con {
	width: calc(90% - 50px);
	height: calc(36% - 40px);
	bottom: 5%;
} */






.pager {
    position: relative;
    height: 50px;
    width: 100%;
}
.layui-laypage {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
}
.layui-laypage>a:first-child {
    border-radius: 2px 0 0 2px;
}
.layui-laypage>:first-child {
    margin-left: 0!important;
}
a:link {
    text-decoration: none;
}
.layui-laypage a, .layui-laypage span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
}
.layui-laypage .layui-laypage-curr {
    position: relative;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.layui-laypage .layui-laypage-curr em {
    position: relative;
    color: #fff;
}
.layui-laypage em {
    font-style: normal;
}

.layui-laypage-em {
    border-radius: 2px;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
.layui-laypage .layui-laypage-count {
    padding: 0 10px;
  }
  .layui-laypage .layui-laypage-skip {
    padding-left: 10px;
  }