.yetou {
    height: 150px;
    width: 100%;
}
.yetou p {
    color: rgb(112, 109, 109);
    font-size: 16px;
}
p {
    overflow-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}