* {
	font-family: "微软雅黑";
}

body,
p,
ul,
ol,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
}

.container {
	width: 60%;
	margin: 0 auto;
	height: 100%;
	min-width:1142px;
}

.header {
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 10000;
	top: 0;
	background:rgba(0,0,0,.5);
}

.header .logo {
	float: left;
	height: 100%;
	width: 70px;
}

.header .logo>a {
	display: block;
	width: 100%;
	height: 100%;
}

.header .logo>a>img {
	display: block;
	width: 100%;
	height: 100%;
	/*margin-top: 20px;*/
    background-color:gray;
}

.header .titlelist {
	height: 100%;
	float: left;
	margin: 0;
	margin-left: 20px;
}

.header .titlelist>li {
	height: 100%;
	float: left;
	margin-right: 30px;
}

.header .titlelist>li>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropdown-content {
	display:none;
	position: absolute;
	background-color: rgb(97, 96, 96);
	padding: 20px 20px ;
	
	min-width: 250px;
	box-shadow: 0px 15px 16px 0px rgba(0,0,0,.2);
	font-size: 20px;
	z-index: 1;
	color: #fff;
	line-height: 2;
	
	
}
.dropdown:hover  .dropdown-content {
	display: block;
}
.dropdown-content p {
	font-family:  Georgia, serif;
}

.header .dengru {
	float: right;
}

.header .dengru {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .dengru>div {
	width: 80px;
	height: 30px;
	border: 2px solid #fff;
	margin-right: 10px;
	border-radius: 30px;
}

.header .dengru>div:first-child {
	border: none;
}

.header .dengru>div>a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.center {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	height: 150px;
	background-color: pink;
}

.center h1 {

	text-align: center;
	font-size: 50px;
	
	color: rgb(#885e5e);
	margin-bottom: 15px;	
	margin: auto;
}



.center-2{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	min-width:1142px;
}

.imglist {
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.imglist>li {
	position: relative;
}

.imglist>li>a>img {
	display: block;
	width: 100%;
	height: 100%;
}

.imglist>li>a>.text {
	background-color: #fff;
	position: absolute;
	box-shadow: 0px 10px 50px -20px #000;
	padding: 10px;
}
.imglist>li>a>.text:hover h3{
	color:#FF9961 !important;
}
.imglist>li>a>.text>div:first-child {
	overflow: hidden;
}

.imglist>li>a>.text>div:first-child>div:first-child {
	float: left;
	color: #999;
}

.imglist>li>a>.text>div:first-child {
	float: right;
	color: #999;
}

.imglist>li>a>.text>i {
	margin-right: 5px;
}

.imglist>li>a>.text>div:first-child>div:last-child>span:first-of-type {
	margin-right: 10px;
}

.imglist>li>a>.text>h3 {
	color: #404040;
	margin: 0;
}

.imglistone>li {
	width: 45%;
	height: 400px;
}

.imglistone>li>a>.text {
	width: calc(70% - 20px);
	height: calc(36% - 20px);
	bottom: -18%;
	left: 15%;
}

.imglistone>li>a>.text>div:first-child>div {
	font-size: 14px;
}

.imglistone>li>a>.text>div:first-child>div:last-child>i {
	font-size: 14px !important;
}

.imglistone>li>a>.text>h3 {
	font-size: 16px;
}

.imglistone>li>a>.text>p {
	font-size: 15px;
	margin-top: 10px;
}

.imglistone>li>a>.text>div:first-child {
	margin-bottom: 10px;
}

.imglisttwo>li {
	width: 28%;
	height: 280px;
}

.imglisttwo>li>a>.text {
	width: calc(90% - 20px);
	height: calc(36% - 20px);
	bottom: -18%;
	left: 5%;
}

.imglisttwo>li>a>.text>div:first-child>div {
	font-size: 12px;
}

.imglisttwo>li>a>.text>div:first-child>i {
	font-size: 12px !important;
}

.imglisttwo>li>a>.text>h3 {
	font-size: 14px;
}



.imglisttwo>li>a>.text>div:first-child {
	margin-bottom: 5px;
}

.more {
	height: 40px;
	background: rgb(219, 223, 226);
	margin-bottom: 5%;
}
.more>a {
	display: block;
    text-align: center;
    height: 100%;
    line-height: 40px;
    color: rgb(134, 134, 136);
    letter-spacing: 5px;
	font-size: 20px;
}




.foottop {
	height: 60px;
	background-color:#868688;
}





.footer {
	height: 300px;
	background: #666161;
}

.footer>.container {
	display: flex;
	justify-content: space-between;
}

.footer-yi>h1 {
	margin: 0;
	margin-top: 40px;
}

.box>img{
	height: 250px;
	width: 250px;
}

.footer-yi>span>a {
	text-align: center;
	height: 30px;
	text-decoration: none;
	color: pink;
}




.footer-er>a>img {
	width: 70px; height: 70px;
}


